.curated-posts-settings-intro .intro-headline {
	border-bottom: 1px solid #eee;
	margin-top: 0;
	padding-bottom: 10px;
}

#curated_posts_settings_form #post-body-content {
	margin-bottom: 0;
}

.curated-posts-repeater-group > td {
	border: 1px solid #eee;
}

.curated-posts-repeater-group .sort:hover {
	cursor: move;
}